body {
  background-color: #000102;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.background{
  background-image: url('../img/dash.jpeg');
  background-repeat: no-repeat;
  width: 1820px;
  height: 1213px;
  overflow: hidden;
  position: relative;
  
}

.container {
  width: 899px;
  height: 539px;
  background-color: #202753;
  position: absolute;
  left: 465px;
  top:294px;
}